Index 
- Reading files
-checking null
-loc() , iloc()
-making dataframe
-missing data handling
-iteration
-isin
-changing datatype
-groupby
-concat
-daterange
-rank
-replace
-between
-sample
-starswith
-endswith
-split
-get()
-upper, lower
-len
-reading multiple zip files from folder using pandas 
-lambda function
-join
-pandas for json normalization

In [ ]:
import pandas as pd

reading file

In [ ]:

df = pd.read_csv("sonar data.csv")
#df = pd.read_csv("sona data.csv", sep = ' ;')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

checking null

In [ ]:
df.isna().sum()

loc[] : loc[] retrieves rows based on index label

iloc[] : iloc[] retrieves rows based on index position

In [ ]:
#loc attribute access a group of rows and columns by labels

df.loc[:, ["0.0428", "0.0032"]]

In [ ]:
df.iloc[1:3, 0:3]

making dataframe

In [ ]:
lst = {'firstname' : ['kajal', 'hrutuja', 'bharti'], 'lastnmae': ['jadhav', 'baikar', 'choudhary'], 'Age':[21, 22, 22]}

In [ ]:
df = pd.DataFrame(lst)

In [ ]:
df

In [ ]:
df.loc[df.Age == 22, "Can drink"] = 'Yes'

In [ ]:
df

missing data handle

In [ ]:

df.fillna('no')

In [ ]:
df.dropna()

In [ ]:
df.notnull()

iteration

In [ ]:
for i , j in df.iterrows():
  print(i, j)

isin

In [ ]:
new = df["Age"].isin([22])
new

In [ ]:
new = df["Age"].isin([22, 21])
new

change data type of data

In [ ]:
df.Age.astype('int64')

group by

In [ ]:
df.groupby('Age').count()

In [ ]:
df.groupby('Age').groups

In [ ]:

grp = df.groupby('Age')
for age, group in grp:
    #print(age)
    print(group)
    print()

concat

In [ ]:
  #concatinating two df ... but removing column names of df1 
  res = pd.concat([df, df1], ignore_index=True)

In [ ]:
#taking only common things present in two dfs
res2 = pd.concat([df, df1], axis=1, join='inner')

In [ ]:
# using .merge() function... key could be any column you want to join on 
res = pd.merge(df, df1, on='key')

In [ ]:
#left join
res = pd.merge(df, df1, how='left', on=['key', 'key1'])

date range

In [ ]:
#Working with date and time using Pandas

data = pd.date_range('1/1/2011', periods = 10, freq ='D')

In [ ]:
data

rank

In [ ]:
df["Rank"] = df["firstname"].rank()
df

In [ ]:
#sort
df.sort_values("firstname", inplace = True)
df

replace

In [ ]:
df.firstname =[firstname.replace("a", "_") for firstname in df.firstname]
df

In [ ]:
#query
df.query('lastnmae == "jadhav"', inplace = True)
df

between

In [ ]:
a = (df['Age'] >= 20) & (df['Age'] < 22)
a

sample

In [ ]:
a = df.sample(n = 1) 
a

In [ ]:
#if 

if (0.25*(len(df))== 1.2):
    print( "Cool")
else:
  print("not cool")

startswith   - gives boolean output

In [ ]:
txt = "welcome to pandas handbook"

x = txt.startswith("wel")
y = txt.startswith("to", 8, 12)
print(x)
print(y)

In [ ]:
x = df["firstname"].str.startswith("k")
x

endswith

In [ ]:
txt = "welcome to pandas handbook"

x = txt.endswith("book")
y = txt.endswith("come", 3, 7)
print(x)
print(y)

split

In [ ]:
lst = {'firstname' : ['kajal_jadhav', 'hrutuja_baikar', 'bharti_choudhary'], 'Age':[21, 22, 22]}

In [ ]:
df = pd.DataFrame(lst)

In [ ]:

df1= df["firstname"].str.split("_", n = 1, expand = True)  #n=1 will make change only once in every string and expand =false will keep same df instead of making new

In [ ]:
df1

Upper() and lower()

In [ ]:
df['firstname'] = df['firstname'].str.upper()

In [ ]:
df

In [ ]:
df['firstname'] = df['firstname'].str.lower()

In [ ]:
df

get()

In [ ]:
print(df.get("firstname"))

len()

In [ ]:
df[df['firstname'].str.len() > 14]

In [ ]:
df['firstname'].str.len()

Reading multiple zip files from folder using pandas

In [ ]:
import os,os.path
import glob
os.chdir(r'C:\Users\kajal\Documents\MCR')
os.listdir()
glob.glob('*.{}'.format('csv'))

In [ ]:
import zipfile
zf = zipfile.ZipFile('file_name')
c =zf.namelist()
pd.read_csv(zf.open(f) for f in c )

lambda function

In [ ]:
df.groupby('a').agg({'b': 'sum', 'c': lambda x: ' '.join(x)})

join

In [ ]:
df.join(other_df, on= ['col1','col2'], how = outer, sort)

Pandas for json normalization

In [ ]:
data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'

In [ ]:
pd.read_json(data,orient = 'records')

In [ ]:
pd.read_json(data,orient = 'index')

In [ ]:
pd.read_json(data,orient = 'columns')

In [ ]:
df1.to_json(orient= 'index')

In [ ]:
df1.to_json(orient= 'columns')

In [ ]:
df1.to_json(orient= 'records')

In [ ]:
df1.to_json(orient= 'table')

In [ ]:
data4 = '{"schema":{"fields":[{"name":"index","type":"string"},{"name":"name","type":"string"},{"name":"id","type":"string"}],
"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":"row1","name":"saurabh","id":"50"},{"index":"row2","name":"saurabh","id":"50"}]}'

In [ ]:
pd.read_json(data4,orient = 'table')

In [ ]:
df1.to_json(orient= 'split')

In [ ]:
data1 = {"employee_name": "James", "email": "james@gmail.com", "job_profile": {"title1":"Team Lead", "title2":"Sr. Developer"}}

In [ ]:
pd.json_normalize(data1,max_level = 0)

In [ ]:
data2 = [
    {
        "state": "Florida",
        "shortname": "FL",
        "info": [{"governor": "Rick Scott"}],
        "counties": [
            {"name": "Dade", "population": 12345},
            {"name": "Broward", "population": 40000},
            {"name": "Palm Beach", "population": 60000},
        ],
    },
    {
        "state": "Ohio",
        "shortname": "OH",
        "info": [{"governor": "John Kasich"}],
        "counties": [
            {"name": "Summit", "population": 1234},
            {"name": "Cuyahoga", "population": 1337},
        ],
    },
]

In [ ]:
pd.json_normalize(data2,record_path = ['counties'],meta = ['info'])

In [ ]:
data3 = [
    {
        "state": "Florida",
        "shortname": "FL",
        "info": [{"governor": "Rick Scott"}],
        "counties": [
            {"name": "Dade", "population": 12345},
            {"name": "Broward", "population": 40000},
            {"name": "Palm Beach", "population": 60000},
        ],
    },
    {
        "state": "Ohio",
        "shortname": "OH",
        "info": [{"governor": "John Kasich"}],
        "counties": [
            {"name": "Summit", "population": 1234},
            {"name": "Cuyahoga", "population": 1337},
        ],
    },
]

In [ ]:
df= pd.json_normalize(data3,record_path =['counties'],meta = ['state'])