In [3]:
import pandas as pd

reading file

In [ ]:

df = pd.read_csv("sonar data.csv")
#df = pd.read_csv("sona data.csv", sep = ' ;')

In [ ]:
df.info()

In [ ]:
df.describe()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
count,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,...,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000
mean,0.029208,0.038443,0.043837,0.054053,0.075105,0.104599,0.121591,0.134677,0.177361,0.208245,...,0.016034,0.013472,0.010729,0.010917,0.009300,0.008181,0.007771,0.007947,0.007936,0.006523
std,0.023038,0.033040,0.038521,0.046583,0.055669,0.059247,0.061897,0.085340,0.118311,0.134741,...,0.012027,0.009628,0.007071,0.007310,0.007103,0.005719,0.005756,0.006485,0.006196,0.005038
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013300,0.016400,0.018900,0.024450,0.037700,0.066950,0.080600,0.080350,0.096750,0.111150,...,0.008350,0.007350,0.005050,0.005350,0.004100,0.004400,0.003700,0.003600,0.003650,0.003100
50%,0.022800,0.030800,0.034200,0.044100,0.062000,0.092100,0.105600,0.111900,0.152200,0.181000,...,0.013800,0.011500,0.009600,0.009300,0.007500,0.006800,0.005900,0.005800,0.006300,0.005300
75%,0.035800,0.048100,0.058200,0.065700,0.101050,0.134150,0.153050,0.169800,0.231500,0.269000,...,0.020700,0.016750,0.014900,0.014450,0.012100,0.010350,0.010350,0.010400,0.010350,0.008550
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [ ]:
df.shape

(207, 61)

checking null

In [ ]:
df.isna().sum()

0.0200    0
0.0371    0
0.0428    0
0.0207    0
0.0954    0
         ..
0.0180    0
0.0084    0
0.0090    0
0.0032    0
R         0
Length: 61, dtype: int64

loc[] : loc[] retrieves rows based on index label

iloc[] : iloc[] retrieves rows based on index position

In [ ]:
#loc attribute access a group of rows and columns by labels

df.loc[:, ["0.0428", "0.0032"]]

     0.0428  0.0032
0    0.0843  0.0044
1    0.1099  0.0078
2    0.0623  0.0117
3    0.0481  0.0094
4    0.0277  0.0062
..      ...     ...
202  0.0168  0.0157
203  0.0298  0.0067
204  0.0180  0.0031
205  0.0490  0.0048
206  0.0136  0.0115

[207 rows x 2 columns]

In [ ]:
df.iloc[1:3, 0:3]

making dataframe

In [1]:
lst = {'firstname' : ['kajal', 'hrutuja', 'bharti'], 'lastnmae': ['jadhav', 'baikar', 'choudhary'], 'Age':[21, 22, 22]}

In [4]:
df = pd.DataFrame(lst)

In [5]:
df

  firstname   lastnmae  Age
0     kajal     jadhav   21
1   hrutuja     baikar   22
2    bharti  choudhary   22

In [6]:
df.loc[df.Age == 22, "Can drink"] = 'Yes'

In [7]:
df

  firstname   lastnmae  Age Can drink
0     kajal     jadhav   21       NaN
1   hrutuja     baikar   22       Yes
2    bharti  choudhary   22       Yes

missing data handle

In [8]:

df.fillna('no')

  firstname   lastnmae  Age Can drink
0     kajal     jadhav   21        no
1   hrutuja     baikar   22       Yes
2    bharti  choudhary   22       Yes

In [9]:
df.dropna()

  firstname   lastnmae  Age Can drink
1   hrutuja     baikar   22       Yes
2    bharti  choudhary   22       Yes

iteration

In [10]:
for i , j in df.iterrows():
  print(i, j)

0 firstname     kajal
lastnmae     jadhav
Age              21
Can drink       NaN
Name: 0, dtype: object
1 firstname    hrutuja
lastnmae      baikar
Age               22
Can drink        Yes
Name: 1, dtype: object
2 firstname       bharti
lastnmae     choudhary
Age                 22
Can drink          Yes
Name: 2, dtype: object

isin

In [13]:
new = df["Age"].isin([22])
new

0    False
1     True
2     True
Name: Age, dtype: bool

In [15]:
new = df["Age"].isin([22, 21])
new

0    True
1    True
2    True
Name: Age, dtype: bool

change data type of data

In [16]:
df.Age.astype('int64')

0    21
1    22
2    22
Name: Age, dtype: int64

group by

In [ ]:
df.groupby('Age').count()

     firstname  lastnmae
Age
21           1         1
22           2         2

In [ ]:
df.groupby('Age').groups

{21: [0], 22: [1, 2]}

In [ ]:

grp = df.groupby('Age')
for age, group in grp:
    #print(age)
    print(group)
    print()

  firstname lastnmae  Age
0     kajal   jadhav   21

  firstname   lastnmae  Age
1   hrutuja     baikar   22
2    bharti  choudhary   22

concat

In [ ]:
  #concatinating two df ... but removing column names of df1 
  res = pd.concat([df, df1], ignore_index=True)

In [ ]:
#taking only common things present in two dfs
res2 = pd.concat([df, df1], axis=1, join='inner')

In [ ]:
# using .merge() function... key could be any column you want to join on 
res = pd.merge(df, df1, on='key')

In [ ]:
#left join
res = pd.merge(df, df1, how='left', on=['key', 'key1'])

date range

In [ ]:
#Working with date and time using Pandas

data = pd.date_range('1/1/2011', periods = 10, freq ='D')

In [ ]:
data

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10'],
              dtype='datetime64[ns]', freq='D')

rank

In [18]:
df["Rank"] = df["firstname"].rank()
df

  firstname   lastnmae  Age Can drink  Rank
0     kajal     jadhav   21       NaN   3.0
1   hrutuja     baikar   22       Yes   2.0
2    bharti  choudhary   22       Yes   1.0

In [19]:
#sort
df.sort_values("firstname", inplace = True)
df

  firstname   lastnmae  Age Can drink  Rank
2    bharti  choudhary   22       Yes   1.0
1   hrutuja     baikar   22       Yes   2.0
0     kajal     jadhav   21       NaN   3.0

replace

In [21]:
df.firstname =[firstname.replace("a", "_") for firstname in df.firstname]
df

  firstname   lastnmae  Age Can drink  Rank
2    bh_rti  choudhary   22       Yes   1.0
1   hrutuj_     baikar   22       Yes   2.0
0     k_j_l     jadhav   21       NaN   3.0

In [26]:
#query
df.query('lastnmae == "jadhav"', inplace = True)
df

  firstname lastnmae  Age Can drink  Rank
0     k_j_l   jadhav   21       NaN   3.0

between

In [33]:
a = (df['Age'] >= 20) & (df['Age'] < 22)
a

0    True
Name: Age, dtype: bool

sample

In [35]:
a = df.sample(n = 1) 
a

  firstname lastnmae  Age Can drink  Rank
0     k_j_l   jadhav   21       NaN   3.0

In [38]:
#if 

if (0.25*(len(df))== 1.2):
    print( "Cool")
else:
  print("not cool")

not cool